$font-stack: 'Poppins', sans-serif;
$font-stack-lato: 'Lato', sans-serif;
$primary-color:#2B3C4E;
$purple-color: #7557D3;
$background: #FDFDFF;
$white-color: #fff;
$grey-color: #CECECE;
$form-color: #f0f0f0;
$deep-grey:#B1B1B1;
$color-black: #211F26;
$switch-color: rgba(117, 87, 211, 0.1);
$red-color: #FF5722;
$im: !important;
