.btn {
    box-shadow: none;
    cursor: pointer;
    border-radius: 4px;

    &:focus {
        box-shadow: none;
    }
    &-login {
        @include button($white-color,$purple-color);
        border:none;
        height: 48px;
        font-weight: 600;
    }
    &--gray {
        @include button($deep-grey, $white-color, $primary-color);
        border: none;
        height: 41px;
        margin-bottom: 40px;
    }

    &-wrapper {
        margin-top: 86px;
        display: flex;
        column-gap: 30px;
    }

    &-switch-setting {
        padding: 14px 28px 14px 28px;
        font-weight: 400;
        font-size: 14px;
        
        &:hover {
            background: $switch-color;
        }
    }
    
    &-edit {
        border: 1px solid $purple-color;
        border-radius: 3px;
        padding: 0px 30px 0px 30px;
        height: 38px;
        color: $purple-color;
        margin-left: auto;
    }

    &-save {
        @include button($purple-color, $white-color, $grey-color);
        border-radius: 3px;
        padding: 7px 46px 7px 46px;
        margin-top: 55px;
        &-wrapper {
            width: 30%;
            margin: 0 auto;
        }
    }

    &-next, &-prev {
        @include button($primary-color, $white-color, $grey-color);
        border-radius: 4px;
        width: 90px;
        @include media-breakpoint-up (md) {
            width: 124px;
        }
    }

    &-finish {
        @include button($grey-color, $white-color, $primary-color);
        height: 41px;
        margin: 41px 0 20px;
        width: 105px;
        border-radius: 4px;
        @include media-breakpoint-up (md) {
            width: 195px;
        }
    }
}