.offcanvas {
    @include media-breakpoint-up(lg) {
        width: 600px;
    }
    &-file {
        cursor: pointer;
        &-choose {
            padding: 10px 0 10px;
            border: 1.5px $primary-color;
            border-radius: 6px;
        }
        &-input {
            display: none;
        }
        &-text {
            color: $primary-color;
        }
    }

    .applicant-img {
        width: 179px;
        height: 179px;
    }
}