.admin {
    &-name {
        color: $white-color;
        font-size: 20px;
        margin-top: 13px;
        font-family: $font-stack-lato;
    }
    
    &-mail {
        color: $white-color;
        font-size: 14px;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 38px;
        font-family: $font-stack-lato;
    }

    &-profile-form {
        margin-top: 56px;
        font-family: $font-stack-lato;
    }
}