.sign-in {
    background-color: $purple-color;
    height: 100%;  

    .loginImage{
        mix-blend-mode: color-dodge;
        display: none;
        @include media-breakpoint-up (xl){
            display: block;
        }
    }
}
.signInBody {
    @include media-breakpoint-up (xl) {
        width: 100%;
    }
}
.form-label{
    &-white{
        color: $white-color;
    }
    &-dark{
        color: $primary-color;
    }
    &-gray{
        color: $deep-grey;
    }
}
.input-bg{
    &-purple{
        background-color: $purple-color;
        color: $white-color;
        position: relative;
    }
    &-white {
        background-color: $white-color;
        color: $primary-color;
    }
}
#app {
    height: 100vh;
}