.sign-in {
    background-color: $purple-color;
    height: 100%;  
    background-image: url('assets/images/Group.svg');
    background-repeat: no-repeat;
    background-position: right center;
}
.signInBody {
    @include media-breakpoint-up (xl) {
        width: 100%;
    }
}
.form-label{
    &-white{
        color: $white-color;
    }
    &-dark{
        color: $primary-color;
    }
    &-gray{
        color: $deep-grey;
    }
}
.input-bg{
    &-purple{
        background-color: $purple-color;
        color: $white-color;
        position: relative;
        &:focus {
            background-color: $white-color;
            color: $primary-color;
        }
    }
    &-white {
        background-color: $white-color;
        color: $primary-color;
    }
}
#app {
    height: 100vh;
}